################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BSDigitalPart1/bin/Debug/net8.0
/BSDigitalPart1/obj
/Shared/bin/Debug/net8.0
/Shared/obj
/BSDigitalPart2/bin/Debug/net8.0
/BSDigitalPart2/obj
